In [15]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = ''
)

mycursor = mydb.cursor()
mycursor.execute('CREATE DATABASE mydatabase')

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('assign5',)
('beginner',)
('game',)
('harshdb',)
('information_schema',)
('interior',)
('interior&furniture',)
('mauj',)
('maujmasti',)
('maujmastiweb',)
('mydatabase',)
('mysql',)
('onepage',)
('parallax',)
('parallaxweb',)
('performance_schema',)
('phpmyadmin',)
('test',)
('vtiger',)

In [23]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "mydatabase"
    
)

In [24]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))')

In [26]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')

for x in mycursor:
    print(x)

('customers',)

In [31]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [32]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
mycursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

In [37]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = 'INSERT INTO customers (name,address) VALUES (%s, %s)'
val = ('john', 'Highway 21')
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, 'record inserted')

1 record inserted

In [38]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name,address) VALUES(%s, %s)"
val = [
      ('Peter', 'Lowstreet 4'),
      ('Amy', 'Apple st 652'),
      ('Hannah', 'Mountain 21'),
      ('Michael', 'Valley 345'),
      ('Sandy', 'Ocean blvd 2'),
      ('Betty', 'Green Grass 1'),
      ('Richard', 'Sky st 331'),
      ('Susan', 'One way 98'),
      ('Vicky', 'Yellow Garden 2'),
      ('Ben', 'Park Lane 38'),
      ('William', 'Central st 954'),
      ('Chuck', 'Main Road 989'),
      ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, 'was inserted')

13 was inserted

In [39]:
mycursor = mydb.cursor()
sql = 'INSERT INTO customers (name, address) VALUES(%s, %s)'
val = ('Michele', 'Blue Village')
mycursor.execute(sql,val)
mydb.commit()

In [10]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address = 'ParkLane 38'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [14]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)
mycursor = mydb.cursor()
sql = 'SELECT * FROM customers WHERE address LIKE "%way%"'
myresult = mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Susan', 'One way 98', 10)
('Viola', 'Sideway 1633', 15)

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'mydatabase'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT * FROM customers')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Amy', 'Apple st 652', 4)
('Hannah', 'Mountain 21', 5)
('Michael', 'Valley 345', 6)
('Sandy', 'Ocean blvd 2', 7)
('Betty', 'Green Grass 1', 8)
('Richard', 'Sky st 331', 9)
('Susan', 'One way 98', 10)
('Vicky', 'Yellow Garden 2', 11)
('Ben', 'Park Lane 38', 12)
('William', 'Central st 954', 13)
('Chuck', 'Main Road 989', 14)
('Viola', 'Sideway 1633', 15)
('Michele', 'Blue Village', 16)

In [4]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
mycursor.execute('SELECT name, address FROM customers')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('john', 'Highway 21')
('john', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michele', 'Blue Village')

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
    
)

mycursor = mydb.cursor()
mycursor.execute('SELECT name, address FROM customers')
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('john', 'Highway 21')
('john', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michele', 'Blue Village')

In [11]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
    
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address = 'Park Lane 38'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 12)

In [14]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address = %s"
adr = ('Yellow Garden 2',)
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 11)

In [4]:
# import mysql.connector
# mydb = mysql.connector.connect(
#     host = ' localhost',
#     user = 'root',
#     password = '',
#     database = 'mydatabase'
# )

# mycursor = mydb.cursor()
# sql = 'SELECT FROM customers WHERE address = %s'
# addr = ('Yellow Garden 2,')
# mycursor.execute(sql,addr)
# myresult = mycursor.fetchall()
# for x in myresult:
#     print(x)

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = 'SELECT * FROM customers ORDER BY name'
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 4)
('Ben', 'Park Lane 38', 12)
('Betty', 'Green Grass 1', 8)
('Chuck', 'Main Road 989', 14)
('Hannah', 'Mountain 21', 5)
('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Michael', 'Valley 345', 6)
('Michele', 'Blue Village', 16)
('Peter', 'Lowstreet 4', 3)
('Richard', 'Sky st 331', 9)
('Sandy', 'Ocean blvd 2', 7)
('Susan', 'One way 98', 10)
('Vicky', 'Yellow Garden 2', 11)
('Viola', 'Sideway 1633', 15)
('William', 'Central st 954', 13)

In [7]:
mydb =  mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 4)
('Ben', 'Park Lane 38', 12)
('Betty', 'Green Grass 1', 8)
('Chuck', 'Main Road 989', 14)
('Hannah', 'Mountain 21', 5)
('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Michael', 'Valley 345', 6)
('Michele', 'Blue Village', 16)
('Peter', 'Lowstreet 4', 3)
('Richard', 'Sky st 331', 9)
('Sandy', 'Ocean blvd 2', 7)
('Susan', 'One way 98', 10)
('Vicky', 'Yellow Garden 2', 11)
('Viola', 'Sideway 1633', 15)
('William', 'Central st 954', 13)

In [8]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('William', 'Central st 954', 13)
('Viola', 'Sideway 1633', 15)
('Vicky', 'Yellow Garden 2', 11)
('Susan', 'One way 98', 10)
('Sandy', 'Ocean blvd 2', 7)
('Richard', 'Sky st 331', 9)
('Peter', 'Lowstreet 4', 3)
('Michele', 'Blue Village', 16)
('Michael', 'Valley 345', 6)
('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Hannah', 'Mountain 21', 5)
('Chuck', 'Main Road 989', 14)
('Betty', 'Green Grass 1', 8)
('Ben', 'Park Lane 38', 12)
('Amy', 'Apple st 652', 4)

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'

)

mycursor = mydb.cursor()
sql = 'SELECT * FROM customers ORDER BY name'
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 4)
('Ben', 'Park Lane 38', 12)
('Betty', 'Green Grass 1', 8)
('Chuck', 'Main Road 989', 14)
('Hannah', 'Mountain 21', 5)
('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Michael', 'Valley 345', 6)
('Michele', 'Blue Village', 16)
('Peter', 'Lowstreet 4', 3)
('Richard', 'Sky st 331', 9)
('Sandy', 'Ocean blvd 2', 7)
('Susan', 'One way 98', 10)
('Vicky', 'Yellow Garden 2', 11)
('Viola', 'Sideway 1633', 15)
('William', 'Central st 954', 13)

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('William', 'Central st 954', 13)
('Viola', 'Sideway 1633', 15)
('Vicky', 'Yellow Garden 2', 11)
('Susan', 'One way 98', 10)
('Sandy', 'Ocean blvd 2', 7)
('Richard', 'Sky st 331', 9)
('Peter', 'Lowstreet 4', 3)
('Michele', 'Blue Village', 16)
('Michael', 'Valley 345', 6)
('john', 'Highway 21', 1)
('john', 'Highway 21', 2)
('Hannah', 'Mountain 21', 5)
('Chuck', 'Main Road 989', 14)
('Betty', 'Green Grass 1', 8)
('Ben', 'Park Lane 38', 12)
('Amy', 'Apple st 652', 4)

In [12]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'

)

mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = 'Mountain 2'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [19]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)
mycursor = mydb.cursor()
sql = "CREATE TABLE customers (name VARCHAR (255) ,address VARCHAR(255))"
mycursor.execute(sql)

In [22]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)
mycursor = mydb.cursor()
sql = "SHOW TABLES"
mycursor.execute(sql)
for x in mycursor:
    print(x)

('customers',)

In [23]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [24]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [26]:
mycursor = mydb.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,  'record(s) affected')

1 record(s) affected

In [31]:
mycursor =  mydb.cursor()
sql = "SELECT address FROM customers WHERE address = 'Valley 345'"
mycursor.execute(sql)
for x in mycursor:
    print(mycursor.rowcount, 'record(s) affected')

In [1]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)
mycursor = mydb.cursor()
sql = "CREATE TABLE data(id VARCHAR(255), contact VARCHAR(255), status VARCHAR(255), religion VARCHAR(255))"
mycursor.execute(sql)
for x in mycursor:
    print(x)

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'

)

mycursor = mydb.cursor()
sql = "SELECT * FROM customers LIMIT 1,3"
mycursor.execute(sql)
for x in mycursor:
    print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'

)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers LIMIT 5 OFFSET 2"
mycursor.execute(sql)
for x in mycursor:
    print(x)

('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Canyon 123')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')

In [19]:
mydb =  mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'mydatabase'
)

mycursor = mydb.cursor()
sql = "ALTER TABLE customers ADD (Email VARCHAR(255))"
mycursor.execute(sql)
for x in mycursor:
    print(x)

ProgrammingError: 1060 (42S21): Duplicate column name 'Email'